.menu {
	display: block;
	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 0;
	width: 7em;
	border-radius: 1em;
	box-sizing: border-box;
	padding: 0.5em 0.8em;
	background-image: linear-gradient(to bottom, hsl(240deg 15% 99%), hsl(240deg 10% 95%));
	margin: 0;
	box-shadow: inset 0 0 0 2px white, -32px 4px 16px -4px hsla(240deg 40% 25% / 5%), 32px 4px 16px -4px hsla(240deg 40% 25% / 5%), 0 8px 12px hsla(240deg 40% 25% / 6%), 0 12px 32px hsla(240deg 40% 25% / 6%);
    font-size: 1em;
}