<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Classview App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <%= render "layouts/components/rails_default" %>
  </head>

  <body>
    <%= render "layouts/components/nav" %>
    <%= yield %>
    <%# 地図表示で追加しました %>
    <script>
      if (window.location.pathname === "/" && sessionStorage.getItem("reloadedAfterLogin")) {
        sessionStorage.removeItem("reloadedAfterLogin");
      }
    </script>
  </body>
</html>
